<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head('Ricette di Benedetta Rossi')"></th:block>
<body>
<th:block th:replace="fragments/navbar :: navbar('recipes')"></th:block>
<form method="GET" action="/recipes" class="d-flex bg-info">
    <label class="d-flex flex-column">
        Categoria
        <select class="form-select" th:name="category">
            <option th:value="${null}">Filtra per categoria</option>
            <option th:selected="${cat != null && cat.id == category.id}" th:each="category: ${categories}"
                    th:object="${category}"
                    th:text="*{name}" th:value="*{id}"></option>
        </select>
    </label>
    <label class="d-flex flex-column">
        Titolo
        <input class="form-control" type="text" name="title" th:value="${title}" placeholder="Filtra per titolo">
    </label>

    <label class="d-flex flex-column">
        Ingredienti
        <input class="form-control" type="text" name="ingredients" th:value="${ingredients}" placeholder="Filtra per ingrediente">
    </label>

    <label class="d-flex flex-column">
        Porzioni
        <input class="form-control" type="number" step="1" min="1" name="portions" th:value="${portions}" placeholder="Filtra per porzioni">
    </label>

    <label class="d-flex flex-column">
        Tempo di preparazione
        <input class="form-control" type="time" min="00:00" name="preparationTime" th:value="${preparationTime}"
               placeholder="Filtra per tempo di preparazione">
    </label>


    <button class="btn btn-primary" type="submit">Filtra</button>
</form>
<table class="table">
    <thead>
    <tr>
        <td>Titolo</td>
        <td>Categoria</td>
        <td>Ingredienti</td>
        <td>Porzioni</td>
        <td>Ricetta</td>
        <td>Tempo di preparazione</td>
        <td>Opzioni</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="recipe: ${recipes}" th:object="${recipe}">
        <td><a th:href="@{/recipes/{id}(id=*{id})}" th:text="*{title}"></a></td>
        <td th:text="*{category.name}"></td>
        <td th:text="*{ingredients}"></td>
        <td th:text="*{portions}"></td>
        <td th:text="*{description}"></td>
        <td th:with="hours=${#temporals.hour(recipe.preparationTime)},minutes=${#temporals.minute(recipe.preparationTime)}">
            <span th:if="${hours > 1}" th:text="|${hours} ore |"></span>
            <span th:if="${hours == 1}">1 ora</span>
            <span th:if="${minutes > 1}" th:text="|${minutes} minuti|"></span>
            <span th:if="${minutes == 1}">1 minuto</span>
            <span th:if="${hours <= 0 && minutes <= 0}">0 minuti</span>
        </td>
        <td>

            <button th:onclick="|openEditModal(*{id})|" type="button" class="btn btn-primary"
                    th:attr="data-recipe-id=*{id}" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Modifica
            </button>

            <form method="POST" th:action="@{/recipes/delete/{id}(id=${recipe.id})}">
                <button class="btn btn-danger" type="submit">Elimina</button>
            </form>
        </td>
    </tr>
    </tbody>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="recipe-form">
                        <label class="form-label" id="recipe-title">
                            Nome
                            <input class="form-control" type="text" name="title">
                        </label>

                        <label class="form-label" id="recipe-ingredients">
                            Ingredienti
                            <input class="form-control" type="text" name="ingredients">
                        </label>

                        <label class="form-label" id="recipe-portions">
                            Porzioni
                            <input class="form-control" type="number" min="1" name="portions">
                        </label>

                        <label class="form-label" id="recipe-description">
                            Ricetta
                            <input class="form-control" type="text" name="description">
                        </label>

                        <label class="form-label" id="recipe-preparationTime">
                            Tempo di preparazione
                            <input class="form-control" type="time" min="00:01" name="preparationTime">
                        </label>

                        <label class="form-label" id="recipe-imageUrl">
                            Immagine
                            <input class="form-control" type="url" name="imageUrl">
                        </label>


                        <label class="form-label" id="recipe-category">
                            Categoria
                            <select class="form-select" name="category">
                                <option value="">Scegli categoria</option>
                                <option th:each="category : ${categories}" th:text="${category.name}"
                                        th:value="${category.id}"></option>
                            </select>
                        </label>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="recipe-submit" type="submit" class="btn btn-primary">Modifica</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>


</table>

<button onclick="openCreateModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Aggiungi
</button>


<script>
    function openEditModal(id) {
        fetch("recipes/api/" + id).then(response => {
            response.json().then(recipe => {
                console.log(recipe)
                document.getElementById('recipe-form').method = "POST"
                document.getElementById('recipe-form').action = "/recipes/edit/" + id;

                document.getElementById("staticBackdropLabel").innerText = recipe.title;

                document.getElementById("recipe-title").firstElementChild.value = recipe.title;
                document.getElementById("recipe-ingredients").firstElementChild.value = recipe.ingredients;
                document.getElementById("recipe-portions").firstElementChild.value = recipe.portions;
                document.getElementById("recipe-description").firstElementChild.value = recipe.description;
                document.getElementById("recipe-preparationTime").firstElementChild.value = recipe.preparationTime;
                document.getElementById("recipe-imageUrl").firstElementChild.value = recipe.imageUrl;
                document.getElementById("recipe-category").firstElementChild.value = recipe.category.id;

                document.getElementById("recipe-submit").innerText = "Modifica"
            })
        })
    }

    function openCreateModal() {
        document.getElementById('recipe-form').method = "POST"
        document.getElementById('recipe-form').action = "/recipes/create"

        document.getElementById("staticBackdropLabel").innerText = "Aggiungi ricetta";

        document.getElementById("recipe-title").firstElementChild.value = "";
        document.getElementById("recipe-ingredients").firstElementChild.value = "";
        document.getElementById("recipe-portions").firstElementChild.value = 1;
        document.getElementById("recipe-description").firstElementChild.value = "";
        document.getElementById("recipe-preparationTime").firstElementChild.value = "00:00";
        document.getElementById("recipe-imageUrl").firstElementChild.value = "";
        document.getElementById("recipe-category").firstElementChild.value = "";

        document.getElementById("recipe-submit").innerText = "Aggiungi"

    }
</script>
</body>
</html>